
/* style for buttons */
.myButton {
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.myButton:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
.myButton:active {
	position:relative;
	top:1px;
}
input::placeholder {
  font-size: 16px;
  color: black;
}
/* .content{
  font-size: 20px;
  background-color: whitesmoke;
  margin: 40px;
  width: 65%;
  padding: 20px;
  margin-top: 150px;
  text-align: left;
  
} */

#RegisterSection{


	height: 400px;
	height: 400px;
	margin: auto;
}
#LoginSection{
	height: 400px;
	height: 400px;
	margin: auto;
}
body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-repeat: no-repeat;
	background-size: cover;
}


.container
{

  /* position: absolute; */
	top: 80%;
	left: 50%;
	transform: translate(0%,0%);
	width: 700px;
	background: #fff;
  padding: 45px;
  margin-left: 300px;
	box-sizing: border-box;
	border :1px solid rgba(0,0,0,.1);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.container h1
{

	text-align: center;
	margin: 0 0 40px;
	padding: 0;
	color: rgb(66,133,244);
	letter-spacing: 2px;
}
.container input
{
	padding: 5px;
  margin-bottom: 30px;
  /* margin-left: 00px; */
	width: 55%;
	box-sizing: border-box;
	box-shadow: none;
	outline: none;
	border:none;
	border-bottom: 2px solid #999;
}
.container input[type="submit"]
{
	border-radius: 25px;
	font-size: 20px;
	height: 40px;
	cursor : pointer;
	background: rgb(66,133,244);
	color: #fff;
	margin-bottom: 0;
}
.container input[type="submit"]:hover
{
	background: #34F458;
	color: #fff;
}
.container form div
{
	position: relative;
}
.container form div label
{
	position: absolute;
	top: 3px;
	pointer-events: none;
	left: 0;
	transition: .5s;
}
.container input:focus ~label,
.container input:valid ~label
{
	left: 0;
	top: -20px;
	color: rgb(66,133,244);
	font-size: 12px;
	font-weight: bold;
}
.container input:focus,
.container input:valid
{
	border-bottom: 2px solid rgb(66,133,244);
}
.error_form
{
	top: 12px;
	color: rgb(216, 15, 15);
    font-size: 15px;
    font-family: Helvetica;
    /* text-align: center; */
}
.but1 {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  width: 300px;
  
}
#but1 {
  border-radius: 50%;
}